//Homepage Animations Active Class

.opaque-hide {
	opacity:0;

	&.active {
		opacity:1;
	}
}
.heartbeat {
	animation: heartpulse 3s infinite;
	-ms-animation: heartpulse 3s infinite;
	-webkit-animation: heartpulse 3s infinite;
	transform-origin: center center;
}
.look-around {
	animation-delay: 2s;
	-ms-animation-delay: 2s;
	-webkit-animation-delay: 2s;
	animation: eye-slide 6s infinite;
	-ms-animation: eye-slide 6s infinite;
	-webkit-animation: eye-slide 6s infinite;	
}
.loading {
	color: $brand-primary!important;
	font-size:.8em;
	padding:0;
	margin:0;
	display:block;

	&-portfolio-navigation {
		color: #a4ba2b!important;
		font-size:.8em;
		padding:0;
		margin:0;
		display:block;
	}
}
.gallery-pulse {
	animation: pulse 2.5s infinite;
	-ms-animation: pulse 2.5s infinite;
	-webkit-animation: pulse 2.5s infinite;
}
.glitter {
	animation: pulse 1s infinite;
	-ms-animation: pulse 1s infinite;
	-webkit-animation: pulse 1s infinite;
}
.little-circle.glitter:nth-child(even){
	animation-delay: .25s;
	-ms-animation-delay: .25s;
	-webkit-animation-delay: .25s;
	animation-direction: alternate;
	-ms-animation-animation-direction: alternate;
	-webkit-animation-direction: alternate;
}

//Homepage Lead Text Fade

@-moz-keyframes fade{
	0% { opacity: 0; }
	5% { opacity: 0; -moz-transform: translateY(0px); }
	10% { opacity: 1; -moz-transform: translateY(0px); }
	25% { opacity: 1; -moz-transform: translateY(0px); }
	30% { opacity: 0; -moz-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-webkit-keyframes fade{
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform: translateY(0px); }
	10% { opacity: 1; -webkit-transform: translateY(0px); }
	25% { opacity: 1; -webkit-transform: translateY(0px); }
	30% { opacity: 0; -webkit-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes fade{
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: translateY(0px); }
	10% { opacity: 1; -ms-transform: translateY(0px); }
	25% { opacity: 1; -ms-transform: translateY(0px); }
	30% { opacity: 0; -ms-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@keyframes fade{
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: translateY(0px); }
	10% { opacity: 1; -ms-transform: translateY(0px); }
	25% { opacity: 1; -ms-transform: translateY(0px); }
	30% { opacity: 0; -ms-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}

//SVG Icons Animation

//heartpulse

@-moz-keyframes heartpulse {
  0% {transform: scale(1, 1); opacity: 1; }
  50% { transform: scale(.95, .95); opacity: .5; }
  100% { transform: scale(1, 1); opacity: 1; }
}
@-webkit-keyframes heartpulse {
  0% {transform: scale(1, 1); opacity: 1; }
  50% { transform: scale(.95, .95); opacity: .5; }
  100% { transform: scale(1, 1); opacity: 1; }
}
@-ms-keyframes heartpulse {
  0% { transform: scale(1, 1); opacity: 1; }
  50% { transform: scale(.95, .95); opacity: .5; }
  100% { transform: scale(1, 1); opacity: 1; }
}
@keyframes heartpulse {
  0% { transform: scale(1, 1); opacity: 1; }
  50% { transform: scale(.95, .95); opacity: .5; }
  100% { transform: scale(1, 1); opacity: 1; }
}

//eye slide animation

@-moz-keyframes eye-slide {
  0% { transform: translateX(0); }
  15% { transform: translateX(-2px); }
  45% { transform: translateX(0); }
  75% { transform: translateX(2px); }
}
@-webkit-keyframes eye-slide {
  0% { transform: translateX(0); }
  15% { transform: translateX(-2px); }
  45% { transform: translateX(0); }
  75% { transform: translateX(2px); }
}
@-ms-keyframes eye-slide {
  0% { transform: translateX(0); }
  15% { transform: translateX(-2px); }
  45% { transform: translateX(0); }
  75% { transform: translateX(2px); }
}
@keyframes eye-slide {
  0% {transform: translateX(0);}
  15% {transform: translateX(-2px);}
  45% {transform: translateX(0);}
  75% {transform: translateX(2px);}
}

//pulse

@-moz-keyframes pulse {
  0% {opacity: 1;}
  50% {opacity: .5;}
  100% {opacity: 1;}
}
@-webkit-keyframes pulse {
  0% {opacity: 1;}
  50% {opacity: .5;}
  100% {opacity: 1;}
}
@-ms-keyframes pulse {
  0% {opacity: 1;}
  50% {opacity: .5;}
  100% {opacity: 1;}
}
@keyframes pulse {
  0% {opacity: 1;}
  50% {opacity: .5;}
  100% {opacity: 1;}
}

//Portfolio thumbnail fade

@-moz-keyframes portfolio-fade{
	0% { opacity: 0; }
	100% { opacity: 1; }
}
@-webkit-keyframes portfolio-fade{
	0% { opacity: 0; }
	100% { opacity: 1; }
}
@-ms-keyframes portfolio-fade{
	0% { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes portfolio-fade{
	0% { opacity: 0; }
	100% { opacity: 1; }
}