//Global Typography
body {
	font-family: $bodycopy;
	font-weight:300;
	line-height: 1.8;
}

p a {
	transition: opacity .15s ease-in!important;
	color:#044252!important;

	&:hover {
		opacity:.7!important;
	}
}
.nav-layout p a {
	transition: opacity .15s ease-in!important;
	color:#fff!important;

	&:hover {
		opacity:.7!important;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: $headline;
}
h1 {
	font-size: 4em;
	font-weight: 800!important;
	text-transform:uppercase!important;
}
h2 {
	color:#efecca!important;
	font-size:4.5em;
}
h3 {
	font-size:2.2em;
}
h4 {

}
h5 {
	font-size:1.2rem;

	@media (max-width:$medium) {
		font-size:1.05rem;
	}
}
#header {
	h1 {
		font-size: 5em;
		color: #000d1d!important;
	}
}
#home-why-create,
#about-why-create,
#home-what-create,
#home-how-create,
#solutions,
#our-expertise,
#portfolio-listing,
#instagram-listing {
	h3 {
		font-size: 4em;
		padding-bottom: 5px!important;

		@media (max-width:$medium) {
			font-size: 3em;
			
		}
		@media (max-width:380px) {
			font-size:2.5em;
		}
	}
	h4 {
		line-height: 1.3;

		@media (max-width:380px) {
			font-size:1.3em;
		}
	}
	h5 {
		font-size: 1.15em;
    	line-height: 1.7em!important;
		padding-bottom:40px!important;
	}
}
#footer-cta {
	h3 {
		font-size:3rem;
		@media (max-width:380px) {
			font-size:2rem;
		}
	}
	h5 {
    	line-height: 1.3!important;
	}
}

//Blog Styles

h2.entry-title,
h2.entry-title a {
	text-align: left!important;
    padding-bottom: 20px!important;
    padding-top: 10px!important;
    font-weight: 300!important;
    line-height: 1.13!important;

}
h2.entry-title {

	&:after {
		content: "";
	    display: block;
	    width: 75px;
	    margin-top: 15px;
	    margin-bottom: 5px;
	    height: 8px;
	    background: #a4ba2b;
	    text-align:center;
	}

}