// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$highlight:				#efecca;
$brand-primary:         #093542;
$green:					#a4ba2b;

//Typography
$headline: 				"museo-sans-rounded",sans-serif;
$bodycopy:				"open-sans",sans-serif;

//Header
$bar-width: 50px;
$bar-height: 5px;
$bar-spacing: 15px;
$bar-color-opaque: rgba(239, 236, 202, 1);
$bar-color-transparent: rgba(239, 236, 202, 0);

//Breakpoints 

$xsmall: 575px;
$small: 767px;
$medium: 991px;
$large: 1199px;
