// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$highlight:				#efecca;
$brand-primary:         #093542;
$green:					#a4ba2b;
$dark-hightlight:       #000D1D;

//Typography
$headline: 				"Montserrat",sans-serif;
$bodycopy:				"Roboto",sans-serif;

//Header
$bar-width: 35px;
$bar-height: 2px;
$bar-spacing: 10px;
$bar-color-opaque: rgba(239, 236, 202, 1);
$bar-color-transparent: rgba(239, 236, 202, 0);

//Breakpoints 

$xsmall: 575px;
$small: 767px;
$medium: 991px;
$large: 1199px;
