//Navigation Overlay Layout

.nav-layout {
	margin-top: 15vh;

	@media (max-width:$medium) {
		margin-top: 22vh;
	}
	
	h4, h5 {
		font-family:$headline;
		color:#A4BA2B;
	}
	h4 {
		font-size:1.1em;
		font-weight:500!important;
		padding-top:8px;
	}
	h5 {
		font-size:1em;
		font-weight:500;
		color:#333333;
		
		a {
			color:#333333;
			text-decoration:none;
		}
	}
	
	p {
		font-family: $bodycopy;
		color:#333333;
		font-weight:300;
		line-height: 1.75;
    	font-size: .8em;
		
		a {
			color:#333333;
			text-decoration:none;
		}
	}
	.nav-footer {
    	padding-top: 4.5%;
	}
	.pt-5 {
		@media (max-width:$xsmall) {
			padding-top:1em!important;
		}
	}
}

ul#menu-primary-navigation {
	display: block;
	text-align: center;

	@media (max-width:$xsmall) {
		margin-bottom: 20px;
	}
	
	li {
		@media (max-width:$xsmall) {
			line-height: 1.5;
		}
	}
	a {
		transition: all .15s ease-in;
		font-family:$headline;
		font-weight:700;
		font-size:2em;
		color:#000d1d;
		text-decoration:none;
		text-transform: uppercase;

		@media (max-width:$medium) {
			font-size:1.65em;
		}
		@media (max-width:$xsmall) {
			font-size:2.2em;
		}
		
		&:hover {
			opacity:.5;
		}
		
	}
}